[Unit]
Description=Wifi Importer
#Requires=NetworkManager.service
After=network-pre.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/virtua
ExecStart=/usr/local/bin/importwifi.sh
Restart=no

[Install]
WantedBy=multi-user.target

